<div class="d-flex align-items-center justify-content-center min-vh-100">
    <main class="form-signin w-50 m-auto" style="max-width: 500px;">
      <form [formGroup]="form">
        <h1 class="h3 mb-3 fw-normal">Verifikacija</h1>
        <h4>*Verifikacioni kod je poslan na email adresu.</h4>
    
        <div class="form-floating">
          <input type="text" class="form-control" formControlName="kod" placeholder="unesite kod" required="required">
          <label for="floatingInput">Verifikacioni kod</label>
        </div>
        <br>
        <button class="btn custom-green w-100 py-2" (click)="verify()" [disabled]="form.invalid">Prijavi se</button>
        <p class="err-msg">{{ errorMessage }}</p>
      </form>
    </main>
</div>



